{% extends 'base.html' %} {% block title %}
<title>دی بلاگ</title>
{% endblock title %} {% block main %}

<!-- featured ================== -->
<section class="s-featured">
  <div class="row">
    <div class="col-full">
      <div class="featured-slider featured" data-aos="zoom-in">
        {% for promote_article in promote_article_data %}
        <div class="featured__slide">
          <div class="entry">
            <div
              class="entry__background"
              style="
                    background-image: url('{{ promote_article.cover }}');
                  "
            ></div>

            <div class="entry__content">
              <span class="entry__category">
                <a href="#0"> {{ promote_article.category }}</a>
              </span>

              <h1 style="direction: rtl">
                <a href="#0" title="">{{ promote_article.title }}</a>
              </h1>

              <div class="entry__info">
                <a href="#0" class="entry__profile-pic">
                  <img
                    style="height: 100%; width: 100%; object-fit: cover"
                    class="avatar"
                    src="{{ promote_article.avatar }}"
                    alt=""
                  />
                </a>
                <ul class="entry__meta">
                  <li><a href="#0">{{ promote_article.author }}</a></li>
                  <li>{{ promote_article.created_at }}</li>
                </ul>
              </div>
            </div>
            <!-- end entry__content -->
          </div>
          <!-- end entry -->
        </div>
        <!-- end featured__slide -->
        {% endfor %}
      </div>
      <!-- end featured -->
    </div>
    <!-- end col-full -->
  </div>
</section>
<!-- end s-featured -->

<!-- s-content ================== -->
<section class="s-content">
  <div class="row entries-wrap wide">
    <div style="direction: rtl" class="entries">
      {% for article in article_data %}
      <article class="col-block">
        <div class="item-entry" data-aos="zoom-in">
          <div style="background-color: #cccccc" class="item-entry__thumb">
            <a href="single-standard.html" class="item-entry__thumb-link">
              <!-- style="height:auto;overflow: hidden;" TODO fix width -->
              <img
                style="
                  height: 220px;
                  background-position: center;
                  background-repeat: no-repeat;
                  background-size: cover;
                  position: relative;
                "
                src="{{ article.cover }}"
                alt=""
              />
            </a>
          </div>

          <div class="item-entry__text">
            <div class="item-entry__cat">
              <a href="category.html">{{ article.category }}</a>
            </div>

            <h1 style="direction: rtl" class="item-entry__title">
              <a href="single-standard.html">{{ article.title }}</a>
            </h1>

            <div class="item-entry__date">
              <a href="single-standard.html">{{ article.created_at }}</a>
            </div>
          </div>
        </div>
        <!-- item-entry -->
      </article>
      <!-- end article -->
      {% endfor %}
    </div>
    <!-- end entries -->
  </div>
  <!-- end entries-wrap -->

  <div class="row pagination-wrap">
    <div class="col-full">
      <nav class="pgn" data-aos="fade-up">
        <ul>
          <li><a class="pgn__prev" href="#0">قبل</a></li>
          <li><a class="pgn__num" href="#0">۱</a></li>
          <li><span class="pgn__num current">۲</span></li>
          <li><a class="pgn__num" href="#0">۳</a></li>
          <li><a class="pgn__num" href="#0">۴</a></li>
          <li><a class="pgn__num" href="#0">۵</a></li>
          <li><span class="pgn__num dots">…</span></li>
          <li><a class="pgn__num" href="#0">۸</a></li>
          <li><a class="pgn__next" href="#0">بعد</a></li>
        </ul>
      </nav>
    </div>
  </div>
</section>
<!-- end s-content -->
{% endblock main %}
