{% extends 'base.html' %} {% block title %}

<title>تماس - دی بلاگ</title>
{% endblock title %} {% block main %}

<!-- s-conte ================== -->
<section class="s-content s-content--top-padding s-content--narrow">
  <div class="row narrow">
    <div class="col-full s-content__header">
      <h1 class="display-1 display-1--with-line-sep">تماس با دی بلاگ</h1>
      <p class="lead">
        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
        از طراحان گرافیک است چاپگرها و متون بلکه روزنامه مجله در ستون و سطر
        آنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-full s-content__main">
      <p>
        <img
          src="static/images/thumbs/contact/contact-1000.jpg"
          srcset="
            static/images/thumbs/contact/contact-2000.jpg 2000w,
            static/images/thumbs/contact/contact-1000.jpg 1000w,
            static/images/thumbs/contact/contact-500.jpg   500w
          "
          sizes="(max-width: 2000px) 100vw, 2000px"
          alt=""
        />
      </p>

      <h2 style="text-align: right">سلام</h2>

      <p>
        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
        از طراحان گرافیک است چاپگرها و متون بلکه روزنامه مجله در ستون و سطر
        آنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای
      </p>

      <p>
        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
        از طراحان گرافیک است چاپگرها و متون بلکه روزنامه مجله در ستون و سطر
        آنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای
      </p>

      <div class="row">
        <div class="col-six tab-full">
          <h4 style="text-align: right">آدرس ما</h4>

          <p>
          <a target="blank" href="https://www.google.com/maps/@35.6829639,51.4118726,17z">
            تهران خیابان امام<br />
            شهرک غرب، پارک دانش<br />
            کوچه علم ساختمان کار
          </a>
          </p>
        </div>

        <div class="col-six tab-full">
          <h4 style="text-align: right">اطلاعات تماس</h4>

          <p>
            <a href="mailto:mr.dori.dev@gmail.com">mr.dori.dev@gmail.com</a>
            <br />
            <a href="tel:09013128010">(+98) 901 312 8010</a>
            <br />
            <a href="tel:09920615020">(+98) 992 061 5020</a>
          </p>
        </div>
      </div>
    </div>
    <!-- s-content__main -->
  </div>
  <!-- end row -->
</section>
<!-- end s-content -->
{% endblock main %}
